body{
  text-align:center;
  background:linear-gradient(#ffffff 0%,#000000 100%);
  background-repeat:no-repeat;
  color:#3a96bd;
  font-size:30px;
    padding-top: 100px;

}
html{
scroll-behavior: smooth;
}
img{
  width:600px;
  border-radius:50%;
}
.menu{
list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 99999;
    cursor: pointer;
    margin-top: 10px;
}
.Srimukhi{
float: left;
    color: darkblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: inherit;
    font-size: 20px;
    display: inline;
}
.Srimukhi:hover{background-color: cornflowerblue;}

#my inspiration{
text-align: center;
}
#work{
text-align: center;
}
#contact{
width: 100%;
    height:600px;
}

.article{
text-decoration: none;
}
.article:hover{color:darkblue;}

.article img{
width: 350;
    height: 300;
    transition: transform .2s; 
}
.article img:hover{transform: scale(0.9);}

.contact_1 a{
color:white;
    text-shadow: none;
}
.contact_1 h3{
display:inline;
}

